parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$template\.$#'
			identifier: property.notFound
			count: 1
			path: app/Domains/Reception/Adapters/LaboratoryAdapter.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: app/Domains/Reception/Exports/DailyReceptionReportExport.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: app/Domains/Reception/Exports/DailyReceptionReportExport.php

		-
			message: '#^Property ''deleted'' does not exist in model\.$#'
			identifier: rules.modelAppends
			count: 1
			path: app/Domains/Reception/Models/AcceptanceItem.php

		-
			message: '#^Method App\\Domains\\Reception\\Repositories\\AcceptanceItemRepository\:\:applyFilters\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Domains/Reception/Repositories/AcceptanceItemRepository.php

		-
			message: '#^Access to an undefined property App\\Domains\\Reception\\Models\\Patient\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 1
			path: app/Domains/Reception/Services/PatientService.php

		-
			message: '#^Method App\\Domains\\Reception\\Services\\PatientService\:\:getRelation\(\) has parameter \$relative with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Domains/Reception/Services/PatientService.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Builder\<TRelatedModel of Illuminate\\Database\\Eloquent\\Model\>\:\:whereHas\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Domains/Reception/Services/PatientService.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: app/Domains/Reception/Services/TATService.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: app/Domains/Reception/Services/TATService.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Domains\\User\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$patient\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Consultation/UpdateCustomerToPatientWithConsultationController.php

		-
			message: '#^Call to an undefined method Illuminate\\Notifications\\Notification\:\:toSms\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Notifications/Channels/OmantelIsmartSmsChannel.php

		-
			message: '#^Call to an undefined method Illuminate\\Notifications\\Notification\:\:toWhatsApp\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Notifications/Channels/TwilioWhatsAppChannel.php

		-
			message: '#^Call to an undefined method Twilio\\Rest\\Client\:\:messages\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Notifications/Channels/TwilioWhatsAppChannel.php

		-
			message: '#^Call to an undefined method Illuminate\\Notifications\\Notification\:\:toWhatsApp\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Notifications/Channels/TwilioWhatsAppTemplateChannel.php

		-
			message: '#^Call to an undefined method Illuminate\\Notifications\\Notification\:\:toWhatsAppTemplate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Notifications/Channels/TwilioWhatsAppTemplateChannel.php

		-
			message: '#^Call to an undefined method Twilio\\Rest\\Client\:\:messages\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Notifications/Channels/TwilioWhatsAppTemplateChannel.php
